.pagination {
  height: 32px;
  width: 610px;
  display: flex;
  justify-content: space-around;
  margin-left: 21%;
  margin-top: 2%;
}

.prevBtn {
  width: 80px;
  height: 32px;
  padding: 6px, 6px, 6px, 12px;
  border-radius: 4px;
  border: 1px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid rgba(217, 217, 217, 1);
}

.nextBtn {
  width: 74px;
  height: 32px;
  padding: 6px, 6px, 6px, 12px;
  border-radius: 4px;
  border: 1px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid rgba(217, 217, 217, 1);
}

.numBtn {
  border-radius: 4px;
  border: none;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}

.numBtn:nth-child(4) {
  background: rgba(20, 110, 180, 1);
  color: #fff;
}
