table {
  width: 98%;
  border-collapse: collapse;
  font-size: 14px;
  margin: 1%;
}

thead {
  background: rgba(242, 242, 242, 1);
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  border: none;
  color: rgba(77, 77, 77, 1);
  font-weight: 600;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

td {
  width: 25%;
}

.orderId {
  color: rgba(20, 110, 180, 1);
  font-weight: 600;
  font-size: 14px;
}
