.overviewTop {
  width: 1132px;
  height: 36px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overviewTop p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(26, 24, 30, 1);
}
.filters {
  height: 36px;
  width: 137px;
  border: 1px solid rgba(217, 217, 217, 1);
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
}
.filters p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(77, 77, 77, 1);
  height: 24px;
  width: 86px;
  margin: 10px;
}

.filters img {
  width: 16px;
  height: 16px;
  padding: 5.5px, 2px, 3.55px, 2px;
  background-color: rgba(77, 77, 77, 1);
}
