@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lobster&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.App {
  text-align: center;
  height: 1482px;
  width: 1440px;
  background-color: #fff;
  margin-left: 12vw;
  border: 1px solid gray;
  display: flex;
}
